@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Manrope', sans-serif;
}

@layer base {
  :root {
    --background: 220 13% 97%; /* #f6f7f8 */
    --foreground: 220 13% 10%;

    --card: 0 0% 100%;
    --card-foreground: 220 13% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 220 13% 10%;

    --primary: 111 50% 33%; /* #387c2b */
    --primary-foreground: 0 0% 100%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 215 40% 10%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 79 99% 42%; /* #98d608 */
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 111 50% 33%;
    
    --radius: 0.5rem;
  }

  .dark {
    --background: 210 20% 12%; /* #101a22 */
    --foreground: 210 20% 96%; /* #f0f4f8 */

    --card: 210 20% 15%; /* #1a2632 */
    --card-foreground: 210 20% 96%;

    --popover: 210 20% 12%;
    --popover-foreground: 210 20% 96%;

    --primary: 111 50% 43%;
    --primary-foreground: 0 0% 100%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 0 0% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 79 99% 52%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 111 50% 43%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
