@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 255 100% 100%;
    --foreground: 240 10% 3.9%;

    --card: 255 100% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 255 100% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    
    --radius: 0.5rem;

    --chart-1: 120 40% 35%;
    --chart-2: 80 60% 50%;
    --chart-3: 120 30% 50%;
    --chart-4: 120 20% 65%;
    --chart-5: 120 15% 75%;

    --sidebar-background: 120 25% 98%;
    --sidebar-foreground: 120 25% 10%;
    --sidebar-primary: 120 40% 35%;
    --sidebar-primary-foreground: 120 25% 98%;
    --sidebar-accent: 120 25% 90%;
    --sidebar-accent-foreground: 120 25% 10%;
    --sidebar-border: 120 20% 89%;
    --sidebar-ring: 120 40% 35%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.1 70.6% 45.3%;
    
    --chart-1: 120 40% 65%;
    --chart-2: 80 60% 60%;
    --chart-3: 120 30% 50%;
    --chart-4: 120 20% 45%;
    --chart-5: 120 15% 35%;
    
    --sidebar-background: 120 15% 10%;
    --sidebar-foreground: 120 10% 95%;
    --sidebar-primary: 120 40% 65%;
    --sidebar-primary-foreground: 120 25% 10%;
    --sidebar-accent: 120 15% 20%;
    --sidebar-accent-foreground: 120 10% 95%;
    --sidebar-border: 120 15% 20%;
    --sidebar-ring: 120 40% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
